{% extends 'base.html' %}

{% block title %} {{yangilik.sarlavha}} {% endblock title %}

{% load static %}



{% block content %}
<img src="{{ yangilik.rasm.url }}" alt="" width="30%" height="30%">
    <h1>{{yangilik.sarlavha}}</h1><br>
    <h4>{{yangilik.matn}} </h4>


<section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
          {% for i in yangiliklar %}
          <div class="single_iteam"> <a href="{% url 'update_news' i.slug %}> <img src="{{ i.rasm.url }}" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" href="{% url 'update_news' i.slug %}">{{i.sarlavha}}</a></h2>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</section>



{% endblock content %}
